@import url("reset.css");

html
{
    font-size: 62.5%;
    -webkit-text-size-adjust: 110%;
}

body
{
    background: #DBE0DF url(../img/bg.png) 50% 0 repeat-y !important;
    height: 100%;
    font-family: Lato, sans-serif;
    font-size: 150%;
    font-weight: 300;
    line-height: 1.55;
    padding: 120px 30px 80px;
}

header
{
    margin: 0 auto 2em auto;
    max-width: 560px;
    width: 100%;
}

.container
{
    margin: 0 auto;
    max-width: 430px;
    width: 100%;
}

footer
{
    margin: 2em auto;
    max-width: 430px;
    width: 100%;

    border-top: 1px dashed #e1e1e1;
    padding-top: 1em;
}

footer p
{
    text-align: center;
    font-size: 90%;
    font-style: italic;
    margin-bottom: 0;
}

footer a
{
    font-weight: 400;
}

pre
{
    margin: 0 0 1em 1em;
    padding: 1em 1.8em;
    color: #222;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #F3F3F0 url(../img/bq.png) top left no-repeat;
    line-height: 1.15em;
    overflow: auto;
}

code
{
    font-family: 'Droid Sans Mono', monospace;
    font-weight: 400;
    font-size: 80%;

    line-height: 0.5em;

    border: 1px solid #efeaea;
    background-color: #fffafa;
    padding: 0.2em 0.4em;
}

pre code
{
    border: none;
    background-color: inherit;
    padding: 0;
}

h1
{
    font-size: 280%;
    font-weight: 400;
}

.ir
{
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.ir br
{
    display: none;
}

h1#logo
{
    margin: 0 auto;
    width: 517px;;
    height: 144px;
    background-image: url(../img/logo.png);
}

/*
h1:hover:after
{
    color: rgba(0, 0, 0, 0.3);
    content: attr(title);
    font-size: 60%;
    font-weight: 300;
    margin: 0 0 0 0.5em;
}
*/

h2
{
    font-size: 200%;
    font-weight: 400;
    margin: 0 0 0.4em;
}

h3
{
    font-size: 135%;
    font-weight: 400;
    margin: 0 0 0.25em;
}

p
{
    color: rgba(0, 0, 0, 0.7);
    margin: 0 0 1em;
}

p:last-child
{
    margin-bottom: 0;
}

img
{
    border-radius: 4px;
    float: left;
    margin: 6px 12px 15px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.nomargin
{
    margin: 0;
}

a
{
    border-bottom: 1px solid rgba(65, 131, 196, 0.1);
    color: rgb(65, 131, 196);
    font-weight: 600;
    text-decoration: none;
    transition: color linear 0.1s;
    -webkit-transition: color linear 0.1s;
    -moz-transition: color linear 0.1s;
}

a:hover
{
    border-bottom-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
}

em
{
    font-style: italic;
}

strong
{
    font-weight: 600;
}

acronym
{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    cursor: help;
}

blockquote
{
    font-style: italic;
    padding: 1em;
}

ul
{
    list-style: circle;
    margin: 0 0 1em 2em;
    color: rgba(0, 0, 0, 0.7);
}

li
{
    font-size: 100%;
}


@media screen and (max-width: 1400px)
{
    body
    {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

@media screen and (max-width: 600px)
{
    body
    {
        padding-bottom: 40px;
        padding-top: 30px;
    }
}
