*.pyc
*.egg-info

.DS_Store

/dump.rdb
/.direnv
/.envrc
/.tox
/dist
/build
.tox
.pytest_cache/
.vagrant
Vagrantfile
.idea/
.coverage*
/.cache
.python-version

Gemfile
Gemfile.lock
_site/
.venv/
.vscode/
