language: python
services:
  - redis
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "pypy"
install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then pip install -r py26-requirements.txt; fi
  - pip install -r requirements.txt
  #- pip install pytest  # installed by Travis by default already
script:
  - py.test
