language: python
python:
  - "2.7"
install:
  - pip install -r requirements.txt
script:
  - sh run_tests
#notifications:
#  irc:
#    channels: "irc.freenode.org#sentry"
#    on_success: change
#    on_failure: change
