language: python
services:
  - redis
matrix:
  include:
  - python: "2.7"
  - python: "3.4"
  - python: "3.5"
  - python: "3.6"
  - python: "3.7"
  - python: "3.8"
  - python: "pypy"
install:
  - pip install -e .
  - pip install pytest-cov sentry-sdk codecov
  #- pip install pytest  # installed by Travis by default already
script:
  - RUN_SLOW_TESTS_TOO=1 py.test --cov rq --durations=5
after_success:
  - codecov
