.highlight { font-family: Consolas,monaco,monospace; }
.highlight .c { color: var(--comment); } /* Comment */
.highlight .err { color: var(--error); } /* Error */
.highlight .k { font-weight: bold; color: var(--keyword); } /* Keyword */
.highlight .kn { font-weight: bold; color: var(--keyword); } /* Keyword */
.highlight .o { font-weight: bold; color: var(--operator); } /* Operator */
.highlight .cm { color: var(--comment-multiline); } /* Comment.Multiline */
.highlight .cp { color: var(--comment-preproc); font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: var(--comment-single); } /* Comment.Single */
.highlight .cs { color: var(--comment-special); font-weight: bold; } /* Comment.Special */
.highlight .gd { color: var(--generic-deleted); } /* Generic.Deleted */
.highlight .gd .x { color: var(--generic-deleted-specific) } /* Generic.Deleted.Specific */
.highlight .ge {} /* Generic.Emph */
.highlight .gr { color: var(--generic-error) } /* Generic.Error */
.highlight .gh { color: var(--generic-heading) } /* Generic.Heading */
.highlight .gi { color: var(--generic-inserted); } /* Generic.Inserted */
.highlight .gi .x { color: var(--generic-inserted-specific); } /* Generic.Inserted.Specific */
.highlight .go { color: var(--generic-output) } /* Generic.Output */
.highlight .gp { color: var(--generic-prompt) } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--generic-subheading) } /* Generic.Subheading */
.highlight .gt { color: var(--generic-traceback) } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: var(--keyword-type); font-weight: bold } /* Keyword.Type */
.highlight .m { color: var(--literal-number) } /* Literal.Number */
.highlight .s { color: var(--literal-string) } /* Literal.String */
.highlight .na { color: var(--name-attribute) } /* Name.Attribute */
.highlight .nb { color: var(--name-builtin) } /* Name.Builtin */
.highlight .nc { color: var(--name-class); font-weight: bold } /* Name.Class */
.highlight .no { color: var(--name-constant) } /* Name.Constant */
.highlight .ni { color: var(--name-entity) } /* Name.Entity */
.highlight .ne { color: var(--name-exception); font-weight: bold } /* Name.Exception */
.highlight .nf { color: var(--name-function); font-weight: bold } /* Name.Function */
.highlight .nn { color: var(--name-namespace) } /* Name.Namespace */
.highlight .nt { color: var(--name-tag) } /* Name.Tag */
.highlight .nv { color: var(--name-variable) } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: var(--text-whitespace) } /* Text.Whitespace */
.highlight .mf { color: var(--literal-number-float) } /* Literal.Number.Float */
.highlight .mh { color: var(--literal-number-hex) } /* Literal.Number.Hex */
.highlight .mi { color: var(--literal-number-integer) } /* Literal.Number.Integer */
.highlight .mo { color: var(--literal-number-oct) } /* Literal.Number.Oct */
.highlight .sb { color: var(--literal-string-backtick) } /* Literal.String.Backtick */
.highlight .sc { color: var(--literal-string-char) } /* Literal.String.Char */
.highlight .sd { color: var(--literal-string-doc) } /* Literal.String.Doc */
.highlight .s2 { color: var(--literal-string-double) } /* Literal.String.Double */
.highlight .se { color: var(--literal-string-escape) } /* Literal.String.Escape */
.highlight .sh { color: var(--literal-string-heredoc) } /* Literal.String.Heredoc */
.highlight .si { color: var(--literal-string-interpol) } /* Literal.String.Interpol */
.highlight .sx { color: var(--literal-string-other) } /* Literal.String.Other */
.highlight .sr { color: var(--literal-string-regex) } /* Literal.String.Regex */
.highlight .s1 { color: var(--literal-string-single) } /* Literal.String.Single */
.highlight .ss { color: var(--literal-string-symbol) } /* Literal.String.Symbol */
.highlight .bp { color: var(--name-builtin-pseudo) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--name-variable-class) } /* Name.Variable.Class */
.highlight .vg { color: var(--name-variable-global) } /* Name.Variable.Global */
.highlight .vi { color: var(--name-variable-instance) } /* Name.Variable.Instance */
.highlight .il { color: var(--literal-number-integer-long) } /* Literal.Number.Integer.Long */

body.light {
    --comment: #999988;
    --error: #a61717;
    --keyword: #555555;
    --keyword: #555555;
    --operator: #555555;
    --comment-multiline: #999988;
    --comment-preproc: #999999;
    --comment-single: #999988;
    --comment-special: #999999;
    --generic-deleted: #000000;
    --generic-deleted-specific: #000000;
    --generic-error: #aa0000;
    --generic-heading: #999999;
    --generic-inserted: #000000;
    --generic-inserted-specific: #000000;
    --generic-output: #888888;
    --generic-prompt: #555555;
    --generic-subheading: #aaaaaa;
    --generic-traceback: #aa0000;
    --keyword-type: #445588;
    --literal-number: #009999;
    --literal-string: #d14;
    --name-attribute: #008080;
    --name-builtin: #0086b3;
    --name-class: #445588;
    --name-constant: #008080;
    --name-entity: #800080;
    --name-exception: #aa0000;
    --name-function: #aa0000;
    --name-namespace: #555555;
    --name-tag: #000080;
    --name-variable: #008080;
    --text-whitespace: #bbbbbb;
    --literal-number-float: #009999;
    --literal-number-hex: #009999;
    --literal-number-integer: #009999;
    --literal-number-oct: #009999;
    --literal-string-backtick: #d14;
    --literal-string-char: #d14;
    --literal-string-doc: #d14;
    --literal-string-double: #d14;
    --literal-string-escape: #d14;
    --literal-string-heredoc: #d14;
    --literal-string-interpol: #d14;
    --literal-string-other: #d14;
    --literal-string-regex: #009926;
    --literal-string-single: #d14;
    --literal-string-symbol: #990073;
    --name-builtin-pseudo: #999999;
    --name-variable-class: #008080;
    --name-variable-global: #008080;
    --name-variable-instance: #008080;
    --literal-number-integer-long: #009999;
}

body.dark {
    --comment: #666677;
    --error: #59e8e8;
    --keyword: #ff7300;
    --operator: #aaaaaa;
    --comment-multiline: #9090ff;
    --comment-preproc: #a0a0ff;
    --comment-single: #9090ff;
    --comment-special: #a0a0ff;
    --generic-deleted: #ffffff;
    --generic-deleted-specific: #ffffff;
    --generic-error: #55ffff;
    --generic-heading: #666666;
    --generic-inserted: #ffffff;
    --generic-inserted-specific: #ffffff;
    --generic-output: #aaaaaa;
    --generic-prompt: #cccccc;
    --generic-subheading: #555555;
    --generic-traceback: #55ffff;
    --keyword-type: #bbaa77;
    --literal-number: #ff6666;
    --literal-string: #22eebb;
    --name-attribute: #ff7f7f;
    --name-builtin: #ff794c;
    --name-class: #bbaa77;
    --name-constant: #ff7f7f;
    --name-entity: #7fff7f;
    --name-exception: #55ffff;
    --name-function: #55ffff;
    --name-namespace: #cacaca;
    --name-tag: #ffff7f;
    --name-variable: #ff7f7f;
    --text-whitespace: #444444;
    --literal-number-float: #ff6666;
    --literal-number-hex: #ff6666;
    --literal-number-integer: #ff6666;
    --literal-number-oct: #ff6666;
    --literal-string-backtick: #22eebb;
    --literal-string-char: #22eebb;
    --literal-string-doc: #22eebb;
    --literal-string-double: #22eebb;
    --literal-string-escape: #22eebb;
    --literal-string-heredoc: #22eebb;
    --literal-string-interpol: #22eebb;
    --literal-string-other: #22eebb;
    --literal-string-regex: #ff66d9;
    --literal-string-single: #22eebb;
    --literal-string-symbol: #66ff8c;
    --name-builtin-pseudo: #666666;
    --name-variable-class: #ff7f7f;
    --name-variable-global: #ff7f7f;
    --name-variable-instance: #ff7f7f;
    --literal-number-integer-long: #ff6666;
}
