<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta content="width=600" name="viewport">
    <meta content="all" name="robots">
    <link href="http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,lightitalic,bold&amp;v1" media="all" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' media="all" rel='stylesheet' type='text/css'>
    <link href="./css/screen.css" media="screen" rel="stylesheet" type="text/css">
    <link href="./css/syntax.css" media="screen" rel="stylesheet" type="text/css">
    <link href="./favicon.png" rel="icon" type="image/png">
  </head>
  <body>
    <header>
    <!--<h1>foo</h1>-->
        <h1 id="logo" class="ir">RQ: Simple job queues</h1>
    </header>

    <section class="container">
      {{ content }}
    </section>
  </body>
</html>
